/* Common Layout Style  */
.dashboard_container {
  display: flex;
}

.common_logo_menu {
  padding: 50px;
  border: 1px solid rgba(192, 197, 203, 0.37);
  height: 100vh;
}
.main_deshboard_content {
  width: 100%;
}
.dashboard_body {
  background-color: #f0f8ff;
  min-height: 100vh;
  padding: 28px 34px 36px 33px;
}

/* Side Navigation CSS Style */
nav.side_nav {
  margin-top: 78px;
}

nav.side_nav ul li {
  border-radius: 8.834px;
  margin-bottom: 35px;
  padding: 0px 28px;
}

nav.side_nav ul li.active {
  background: #d5e6fb;
  padding: 10px 28px;
}
nav.side_nav ul li a {
  display: flex;
  align-items: center;
}

nav.side_nav ul li a span {
  margin-left: 10px;
  color: #000;
  font-size: 17.588px;
  font-weight: 500;
}

li.nav_setting {
  padding-bottom: 50px !important;
  border-bottom: 1.5px solid rgba(192, 197, 203, 0.37);
  margin-bottom: 50px !important;
}

/* Header Top Css Style */
.header_top {
  height: 98px;
  display: flex;
  /* width: 100%; */
  padding: 0 37px 0 39px;
  align-items: center;
  justify-content: space-between;
}

.main-deshboard-content {
  width: 100%;
}

.header_search input {
  border-radius: 57px;
  border: 1.3px solid rgba(196, 202, 205, 0.4);
  background: #fff;
  width: 626px;
  height: 50px;
  padding-left: 40px;
  box-sizing: border-box;
}
.header_search input:focus {
  outline: none;
}
.header_search {
  position: relative;
}

.header_search svg {
  position: absolute;
  right: 28px;
  top: 16px;
  cursor: pointer;
}

.user_profile {
  display: flex;
  align-items: center;
}

.profile_data {
  display: flex;
  align-items: center;
  margin-left: 30px;
  background: #f2f8ff;
  width: 256px;
  height: 59px;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 8px 16px;
  cursor: pointer;
}

.user_info h4 {
  color: #1f1f1f;
  font-size: 13.468px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 7px;
}

.user_info p {
  color: #5e6e78;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  margin-top: 6px;
}

.user_info {
  margin-left: 10px;
}

.profile_data svg {
  margin-left: 40px;
}

/* Dashboard Card Styles  */
.dashboard_cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 25px;
}

.dashboard_cards .single_card {
  background: #fff;
  border-radius: 12px;
  box-sizing: border-box;
}

.card_1 .card_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single_card {
  padding: 23px 20px 20px 23px;
}

.single_card .card_icon {
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.card_1 .card_icon {
  background: #d5e6fb;
}

.card_1 h4 {
  /* padding-left: 5px; */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  color: #000;
  /* padding-right: 5px; */
  margin: 0 !important;
}

.card_1 h2 {
  color: #000;
  font-size: 30px !important;
  font-weight: 600;
}

.card_bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 0;
}

p.card_bottom_title {
  color: #626d7d;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
}

p.card_bottom_balance {
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

.card_1 p.card_bottom_balance {
  color: #219653;
}

p.card_bottom_percent {
  padding: 0px 8px;
  border-radius: 60px;
  background: rgba(33, 150, 83, 0.2);
  color: #219653;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
/* .card_2 {
  background: url("./../../assets/images/Card_background.png") !important;
  background-size: contain;
  background-position: center center;
} */
.single_card .card_title {
  display: flex;
  align-items: center;
}

.card_2 .card_icon {
  background: rgba(255, 156, 7, 0.2);
}

.card_3 .card_icon {
  background: rgba(77, 33, 255, 0.2);
}

.card_4 .card_icon {
  background: rgba(255, 210, 210, 1);
}

.single_card h4 {
  margin-left: 12px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  /* 176.716% */
  margin-bottom: 0;
}

.single_card .card_title p {
  margin-left: 12px;
  color: #626d7d;
  font-size: 13px;
  font-weight: 500;
  margin-top: 5px;
}

.single_card h2 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.candlestick_chart {
  margin: 25px 0;
  display: flex;
}
